
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');


#main_header
{

  background-color:rgb(160,82,45,0.5) ;
  font-size: 10px;
  font-weight: 300px;
  margin: 50px 100px 50px 20px;
  border: 10px solid #000;
  color: rgb(165,42,42);
  padding-left:20px;
  box-shadow:10px 7px 7px rgb(139,69,19);
  font-family: 'Hachi Maru Pop', cursive;
  border-radius: 109px;
  position: relative;
  width: 50%;
  z-index: 6;

}
#main_header::after{
content: "";
display:block;
width:50px;
height:40px;
position: relative;
background: #000;

top:10px;
left:40px;;
hight:80px;
z-index: 2;
}
body h4{ color: #000;

}

body{
  background: rgb(240,230,140,0.5);
  color: rgb(255,0,0);
  font-family: 'Potta One', cursive;
  font-weight: 300;

  text-shadow: 1px 1px 1px #000;


}


#sub_header{
  background-color:rgb(255,165,0,0.5) ;
  font-family: 'Potta One' cursive;
  font-weight: 500;
  font-size: 40px;
  box-shadow: 10px 7px 7px rgb(139,69,19);
  margin: 1px 1px 1px 1px;
  border: 10px solid #000;
  border-radius: 109px;
  color: rgb(255,0,0);
}
main{
margin: 50px 40px 50px 20px;
width:  150px;

}


main img {

width:  100%;

}

main article {
width:1000px;
padding: 10px;

}

#top_articles
{
  width: 2600px;
  margin: auto;

}

article
{
  max-width: 15%;
  display: inline-block;
  padding: 10px !important;
  margin:10px;
  border: 20px;
  box-shadow: 10px 4px 5px rgb(160,82,45,0.5);
    transition: box-shadow 500ms,background 3s;
}

article:hover
{
  box-shadow: 20px 8px 10px rgb(255,0,0,0.5);
  background: #aaa;
}


.article-images
{
  height:400px;
  width:390px;
  background-size: cover !important;
  background-position: center ;
  margin-top: 30px;
border: 10px solid #000;


}

a
{
    text-decoration:underline;
    text-decoration: underline;

}

p
{
  word-spacing: 10px;
}

a:hover {
  font-size: 52px;
 color: #8f8;
}
.my-class:hover
{
font-size: 20px;
color:#000;


}
.my-input {
  display:block;
  margin:20px;
  width:90%;
  color:#0f0;
  border-radius: 10PX;
}

.my-input:focus{
  color: #f00;
  background:rgb(255,215,0,0.5);
  outline: none;
  border: 2px solid #000;


}
article:active {
  opacity: 0.3;
}

.article-images{
  height: 200px;
  width:200px;
  border-radius: 100%;
}
